.btn-basic {
  background-color: var(--color-secondary-green);
  color: var(--color-primary-dark);
  border: var(--color-secondary-green);
  font-weight: 700;
  border-radius: 12px;
  border-style: solid;
  border-width: medium;
}

.btn-basic:hover {
  background-color: var(--color-primary-darkest);
  color: white;
  border: var(--color-primary-darkest);
  font-weight: 700;
  border-radius: 12px;
  border-style: solid;
  border-width: medium;
}


.btn-ghost {
  background-color: none;
  color: white;
  border: var(--color-secondary-green);
  font-weight: 700;
  border-radius: 12px;
  border-style: solid;
  border-width: medium;
}

.btn-ghost:hover {
  background-color: var(--color-secondary-green);
  color: var(--color-primary-dark);
  border: var(--color-secondary-green);
  font-weight: 700;
  border-radius: 12px;
  border-style: solid;
  border-width: medium;
}

.btn-add {
  background-color: none;
  color: var(--color-secondary-green);
  border: none;
}

.btn-add:hover {
  border: none;
  color: var(--color-primary-darkest);
}
