.btn-basic {
  background-color: var(--color-secondary-green);
  color: var(--color-primary-dark);
  border: var(--color-secondary-green);
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  border-radius: 15px;
  border-style: solid;
  border-width: thick;
}

.btn-basic:hover {
  background-color: var(--color-primary-darkest);
  color: white;
  border: var(--color-primary-darkest);
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  border-radius: 15px;
  border-style: solid;
  border-width: thick;
}


.btn-ghost {
  background-color: none;
  color: white;
  border: var(--color-secondary-green);
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  border-radius: 15px;
  border-style: solid;
  border-width: thick;
}

.btn-ghost:hover {
  background-color: var(--color-secondary-green);
  color: var(--color-primary-dark);
  border: var(--color-secondary-green);
  font-weight: 700;
  border-radius: 15px;
  border-style: solid;
  border-width: thick;
}

.btn-nav {
  background-color: none;
  color: var(--color-secondary-green);
}

.btn-nav:hover {
  color: var(--color-secondary-lt-green);
  border-style: none;
}
