header {
  background-color: var(--color-primary-dark);
}

a {
  text-decoration: none;
}

a:hover {
  border-bottom-style: solid;
  border-bottom-color: var(--color-secondary-green);
  transition: all .2s linear;
}

.icon:hover {
  border: none;
}

label.nav-label::before {
  display: none;
}

.nav-s {
  background-color: var(--color-primary-dark);
}

.nav {
  display: none;
  list-style-type: none;
  width: 100vw;
  padding: 0;
  position: absolute;
  top: 50px;
  left: 0;
  z-index: 2;
}

.nav-close {
  display: none;
}

.nav-check:checked ~ .nav {
  display: block;
}

.nav-check:checked ~ .nav-label .nav-open {
  display: none;
}

.nav-check:checked ~ .nav-label .nav-close {
  display: block;
}

.nav-check {
  position: absolute;
}

.nav-grid {
  align-items: flex-start;
}

.nav-small {
    z-index: 1;
}

.nav-open:hover {
  color: var(--color-secondary-green);
  transition: all .2s linear;
}

.nav-close:hover {
  color: var(--color-secondary-green);
  transition: all .2s linear;
}

.nav-wrapper {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    flex-grow: 1;
    width:100%;
    margin:auto;
}

@media only screen and (min-width: 90em) {

  .t-r {
    text-align: right;
  }

}
