.platform {
  display: table;
  background-color: var(--color-secondary-lt-green);
  color: var(--color-primary-dark);
  border: var(--color-secondary-lt-green);
  font-weight: 700;
  border-radius: 40px;
  border-style: solid;
  border-width: medium;
}

.a-icon:hover {
  border: none;
  color: var(--color-primary-lt);
  transition: all .2s linear;
}
