.img-banner {
  width: 100%;
  z-index: 10;
}

.img {
  width: 30%;
  position: absolute;
  z-index: 20;
  bottom: -50%;
  left: 50%;
  transform: translateX(-50%);
}

.img-left {
  width: 30%;
  position: absolute;
  z-index: 20;
  bottom: -50%;
  left: 25%;
  transform: translateX(-50%);
}

.img-dash {
  min-width: 8em;
}

.game-card {
  max-width: 240px;
  max-height: 135px;
}

@media only screen and (min-width: 38em) {

  .img, .img-left {
    width: 15%;
    bottom: -15%;
  }

}
